<div class="flex">
    <div id="divLeft">
        <p>multiupload</p>
    </div>
    <div id="divRight">
        <form enctype="multipart/form-data" action="/" method="post">
             <div id="upload">
                <input type="file" multiple required name="file" id="file">
            <label for="file" id="file1">Select file(s) to upload</label>
            <div>
                <button type="submit" id="button1">upload</button>
            </div>
        </div>
        </form>
    </div>
</div>
